.raindrops-container {
  overflow: hidden;
  width: 50vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -9999; /* Ensures it's in the background */
}

.drops{
  position: relative;
  display: flex;
}

.drops span{
  position: relative;
  width: 30px;
  height: 30px;
  animation: animate 15s linear infinite;
  animation-duration: calc(200s / var(--speed));
}

@keyframes animate{
  100% {
    transform:  translateY(100vh) scale(0);
  }
  0% {
    transform:  translateY(0vh) scale(1);
  }
}